# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor configs (optional, but common)
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS and Linux system files
.DS_Store
*.swp
